.header {
  /* position:static;
  background-color: black;
  padding-top:12%; */
    float: left;
  background: #181818;
  height: 150px;
  width: 105%;
  margin-bottom: -50%;
  /* padding-right: 10%; */
  /* margin-right: 50%; */
  margin-left: -2%;

}

.navbar {
  float: left;
  width: 200%;
  margin-top: 7%;

}

.ulnavbar{
 margin-bottom: -350px;

}

.linavbar{
display: inline-block;
margin-left: 8%;
font-family: Karla;
font-weight: 100;
font-size: 1em;
color: #33333;
margin-bottom: 20%;


}

a:hover{
color: white;
}

a{
  text-decoration: none;
  color: white;

}



.h2_center {
	text-align:center;
	padding-bottom:150px;
	margin-top:-105px;




}

/*  PRODUITS*/
ul.products li {
    width: 200px;
    display: inline-block;
	margin-left:30px;
	margin-right:100px;
	margin-bottom : 100px;
     vertical-align: top;
    *display: inline;
    *zoom: 1;
}


.img_bonnet_long, .img_bonnet_revers,.img_bonnet-docker,.img_bonnet_court,.img_bonnet_pompou_fourure,.img_bonbou_peruvien,.img_chapka,.img_cache_oreille {
	width:159px;
	height:159px;
}




.valid_achat {
	margin-left:700px;
}








.footer {
  float: left;
  background: #181818;
  height: 150px;
  width: 100%;
  margin-top: 30px;
}

.reseaux_sociaux {
  float: left;
  height: 100%;
  margin-right: 2%;
  width: 20%;
}

.reseaux {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 10%;
}

.img_facebook {
  float: left;
  margin-left: 25%;
}

.img_twitter {
  float: left;
  margin-left: 5%;
}

.img_instagram {
  float: left;
  margin-left: 5%;
}

.avis_legal {
  float: left;
  height: 100%;
  margin-right: 2%;
  width: 30%;
}

.lifooter {
  list-style: none;
  color: white;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 2em;
  margin-left: 15%;
}

.afooter {
  color: white;
}

.newsletter {
  float: left;
  height: 100%;
  margin-right: 2%;
  margin-left: 2%;
  width: 40%;
}

.txtnewsletter {
  color: white;
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
  margin-top: 25px;
  height: 5px;
}

.mail {
  float: left;
  margin-left: 4%;
  margin-top: 3%;
}

.inscrire {
  float: left;
  margin-left: 3%;
  margin-top: 3%;
}

.copyright {
  clear: both;
  font-weight: 500;
  font-size: 0.6em;
  color: white;
  margin-left: 4%;
}


.fond1 {
  float: left;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
}

.technologie {
  position: absolute;
  font-family: karla;
  font-weight: 400;
  top: 165px;
  height: 50px;
  text-align: center;
  color: #FF2727;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.image1 {
  float: left;
  width: 46%;
  margin-left: 3%;
  margin-top: 2%;
  margin-right: 1%;
}

.innovation {
  float: left;
  width: 46%;
  margin-left: 1%;
  margin-top: 2%;
  margin-right: 3%;
  background: #333333;
  height: 330px;
}

.paide {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  font-family: karla;
  padding-top: 25px;
}

.ptext {
  font-family: Raleway;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 28px;
  text-align: left;
  padding-left: 5%;
  padding-right: 2%;
  color: #FFFFFF;
}

.imgappli {
  float: left;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}

.blocappli {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  width: 36%;
  margin-left: 5%;
  height: 225px;
  top: 1100px;
  border-radius: 10px;
  color: white;
}

.pappli {
  float: left;
  position: relative;
  height: 30px;
  width: 36%;
  margin-left: 5%;
  bottom: 300px;
  color: white;
}

.textappli {
  margin-top: 7%;
  text-align: center;
  font-size: 1.5em;
  line-height: 0.4em;
  letter-spacing: 0.11em;
  font-weight: 500;
}

.textgratuit {
  color: #FF2727;
  font-weight: 600;
  letter-spacing: 0.11em;
  text-indent: 7%;
  font-size: 1.2em;
}

.ios {
  margin-left: 6%;
}

#button {

}

.buttonappli {
  position: relative;
  margin-left: 38%;
  bottom: 15px;
}

.partenaire {
  background: #333333;;
  float: left;
  width: 94%;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  height: 300px;
  color: white;
  font-family: Karla;
  font-weight: 400;
  letter-spacing: 0.11em;
}

.imgpartenaire {
  float: left;
  width: 150px;
  background: white;
  margin-left: 6%;
  margin-right: ;
  border-radius: 8px;
}

.blocimg {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  float: left;
  align-items: center;
}
.buttonpartenaire {
  float: left;
  width: 13%;
  margin-top: 2%;
  margin-left: 43.3%;
  margin-right: 43.5%;
}
